<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="JSONPlaceholder API Test Suite" verbose="1">

    <test thread-count="1" name="Users API Tests">
        <classes>
            <class name="com.typicode.jsonplaceholder.tests.UsersApiTest"/>
        </classes>
    </test>

    <test thread-count="1" name="User Posts API Tests">
        <classes>
            <class name="com.typicode.jsonplaceholder.tests.UserPostsApiTest"/>
        </classes>
    </test>

    <test thread-count="1" name="Post Comments API Tests">
        <classes>
            <class name="com.typicode.jsonplaceholder.tests.PostCommentsApiTest"/>
        </classes>
    </test>

    <test thread-count="1" name="Create Post API Tests">
        <classes>
            <class name="com.typicode.jsonplaceholder.tests.PostUserApiTest"/>
        </classes>
    </test>

</suite>
